## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from g_key import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vaction.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Descritption,Lat,Lng,Hotel Name
0,6,Asyut,EG,89.78,clear sky,27.1810,31.1837,فندق ميس إيجيبت Miss Egypt Hotel
1,7,Kijang,KR,78.53,heavy intensity rain,35.2442,129.2139,Samyang Beach Villa
2,8,Butaritari,KI,81.25,broken clouds,3.0707,172.7902,Isles Sunset Lodge
3,10,Rikitea,PF,73.18,clear sky,-23.1203,-134.9692,People ThankYou
4,12,Hilo,US,81.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Descritption}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center= (30.0,31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

vacation_start = vacation_df.loc[vacation_df["City"]== 'Asyut']
vacation_end = vacation_df.loc[vacation_df["City"]== 'Asyut']
vacation_stop1 = vacation_df.loc[vacation_df["City"]== 'Cairo']
vacation_stop2 = vacation_df.loc[vacation_df["City"]== 'Marsa Matruh'] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== 'Darnah']

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [13]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer (start, end, waypoints= [stop1, stop2, stop3], 
                                       travel_mode = "DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2,
                         vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Descritption,Lat,Lng,Hotel Name
0,6,Asyut,EG,89.78,clear sky,27.1810,31.1837,فندق ميس إيجيبت Miss Egypt Hotel
1,6,Asyut,EG,89.78,clear sky,27.1810,31.1837,فندق ميس إيجيبت Miss Egypt Hotel
2,367,Cairo,EG,84.96,clear sky,30.0626,31.2497,Grand Hotel
3,665,Marsa Matruh,EG,77.20,clear sky,31.3525,27.2453,Beau Site
4,395,Darnah,LY,75.81,clear sky,32.7670,22.6367,فندق الفردوس

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Descritption}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center= (30.0,31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))